.places {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #FFFFFF;
}

.places h1 {
    width: 100%;
    align-self: flex-start;
    font-size: 30px;
    margin: 0;
    margin-top: 3%;
    margin-left: 1%;
    font-weight: 700;
}

.places article {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: solid 1px #FF5A5F;
    border-radius: 4px;
    justify-content: flex-start;
    text-align: center;
}

.places article h2 {
    padding: 0;
    margin: 0;
    /* width: 100%; */
    font-size: 30px;
    min-height: 67px;
}

/* -------------------- Price_by_night style -------------------- */
.price_by_night {
    position: absolute;
    display: flex;
    color: #FF5A5F;
    border: solid 4px #FF5A5F;
    min-width: 60px;
    height: 60px;
    border-radius: 35px;
    justify-content: center;
    align-items: center;
    top: 0.75em;
    right: 1.5em;
}

.price_by_night p {
    font-size: 30px;
    margin: 0 0.1em 0em 0.1em;
}

/* -------------------- Information style -------------------- */
.information {
    display: flex;
    height: 80px;
    width: 100%;
    border-top: solid 1px #DDDDDD;
    border-bottom: solid 1px #DDDDDD;
    justify-content: center;
}
.information p {
    padding-top: 40%;
}
.max_guest {
    background-image: url('./../images/icon_group.png');
    background-repeat: no-repeat;
    background-position: 50% 20%;
    width: 100px;
}

.number_rooms {
    background-image: url('./../images/icon_bed.png');
    background-repeat: no-repeat;
    background-position: 50% 20%;
    width: 100px;
}

.number_bathrooms {
    background-image: url('./../images/icon_bath.png');
    background-repeat: no-repeat;
    background-position: 50% 20%;
    width: 100px;
}

/* -------------------- User style -------------------- */
.user {
    margin: 0;
    margin-bottom: 1em;
    padding: 0;
    width: 100%;
    text-align: left;
    height: 1em;
}

.user span {
    font-weight: bold;
}

.user p {
    margin: 0;
    padding: 2% 0;
}

/* -------------------- Description style -------------------- */
.description p{
    margin: 0;
    padding: 0;
    text-align: justify;
}
